body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.container {
    display: flex;
    flex-direction: column;
    background: #fcd536;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    width: 450px;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fbcb04;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #fbcb04;
    border: 1px solid #c9a203;
    box-shadow: 0 3px 5px rgba(252, 219, 79, .6);
}

.logo {
    width: 150px;
}

.info {
    font-size: 20px;
    display: flex;
    gap: 10px;
}

.profile {
    display: flex;
    flex-direction: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    background-color: #fbcb04;
    background-color: #fbcb04;
    border: 1px solid #c9a203;
    box-shadow: 0 3px 5px rgba(252, 219, 79, .6);
    padding: 10px;
}

.profile-img {
    background-image: url(icon/PF.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    padding: 30px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.2sease-in-out;
}

.acc-balance {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: #fbcb04;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #fbcb04;
    border: 1px solid #c9a203;
    box-shadow: 0 3px 5px rgba(252, 219, 79, .6);
}

.acc {
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-ring {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-90deg);
}

.progress-ring-bg {
    fill: none;
    stroke-width: 10;
}

.progress-ring-progress {
    fill: none;
    stroke: #009e7a;
    stroke-width: 10;
    stroke-dasharray: 326 57;
    stroke-dashoffset: 1480;
    stroke-linecap: round;
}

.progress-ring-accent {
    fill: none;
    stroke: #fd8b7b;
    stroke-width: 10;
    stroke-dasharray: 15 376.99;
    stroke-dashoffset: -18;
    stroke-linecap: round;
}

.progress-content {
    position: absolute;
    text-align: center;
    right: 45px;
}

.balance {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.total {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.khr {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.usd {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}

.riels {
    font-size: 30px;
    color: #fd8b7b;
    font-family: "Koh Santepheap", sans-serif;
    margin: 0;
}

.fa-dollar-sign {
    font-size: 20px;
    color: #009e7a;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.fa-solid {
    font-size: 24px;
}

.balance-blur {
    color: #4d4637;
    font-family: "Nunito", sans-serif;
    font-size: 32px;
    font-weight: bold;
    filter: blur(10px);
    margin: 0;
}

.icon {
    font-size: 35px;
    color: #4d4637;
}

.element {
    color: #4d4637;
    font-size: 18px;
    font-weight: bold;
}

.cards {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    gap: 15px;
}

.cards .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100px;
    width: 250px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 400ms;
}

.card {
    padding: 10px;
    background-color: #fbcb04;
    border: 3px solid #c9a203;
    box-shadow: 0 3px 5px rgba(252, 219, 79, .6);
}

#row {
    display: flex;
    flex-direction: row;
    gap: 15px;
    height: 60px;
}

.cards .card p.tip {
    font-size: 1em;
    font-weight: 700;
}

.cards .card:hover {
    transform: scale(1.1, 1.1);
}

.cards:hover>.card:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
}

/* Footer */

.social {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
    background-color: #fbcb04;
    border: 3px solid #c9a203;
    box-shadow: 0 3px 5px rgba(252, 219, 79, .6);
}

/* for all social containers*/
.socialContainer {
    width: 52px;
    height: 52px;
    background-color: #4d4637;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
    border-radius: 15%;
}

/* instagram*/
.containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
}

/* twitter*/
.containerTwo:hover {
    background-color: #00acee;
    transition-duration: .3s;
}

/* linkdin*/
.containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
}

/* Whatsapp*/
.containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
}

.socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
}

.socialSvg {
    width: 24px;
}

.socialSvg path {
    fill: #fbcb04;
}

.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}